---
http_interactions:
- request:
    method: get
    uri: http://projects.fivethirtyeight.com/election-night-forecast-2016/events.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 21D6D6B5B092A53E
      X-Amz-Meta-Surrogate-Control:
      - max-age=3600
      X-Amz-Meta-Surrogate-Key:
      - election-night-forecast-2016
      Last-Modified:
      - Tue, 08 Nov 2016 22:48:49 GMT
      Etag:
      - '"eeb39356e8961c53f144faea58a3a175"'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "president": [
            {
              "time": "2016-11-08 16:00:00 -0500",
              "event": "initial forecast",
              "index": 0,
              "states": {
                "AK": {
                  "D": 23.54,
                  "R": 76.4,
                  "L": 0.06
                },
                "AL": {
                  "D": 0.06999999999999999,
                  "R": 99.92999999999999,
                  "L": 0
                },
                "AR": {
                  "D": 0.37,
                  "R": 99.625,
                  "L": 0.005
                },
                "AZ": {
                  "D": 33.410000000000004,
                  "R": 66.58,
                  "L": 0.01
                },
                "CA": {
                  "D": 99.955,
                  "R": 0.045,
                  "L": 0
                },
                "CO": {
                  "D": 77.53,
                  "R": 22.445,
                  "L": 0.025
                },
                "CT": {
                  "D": 97.28,
                  "R": 2.71,
                  "L": 0.01
                },
                "DC": {
                  "D": 99.98,
                  "R": 0.02,
                  "L": 0
                },
                "DE": {
                  "D": 91.46,
                  "R": 8.535,
                  "L": 0.005
                },
                "FL": {
                  "D": 55.08,
                  "R": 44.915,
                  "L": 0.005
                },
                "GA": {
                  "D": 20.915,
                  "R": 79.08,
                  "L": 0.005
                },
                "HI": {
                  "D": 98.86500000000001,
                  "R": 1.13,
                  "L": 0.005
                },
                "IA": {
                  "D": 30.214999999999996,
                  "R": 69.765,
                  "L": 0.02
                },
                "ID": {
                  "D": 0.935,
                  "R": 99.045,
                  "L": 0.02
                },
                "IL": {
                  "D": 98.29,
                  "R": 1.71,
                  "L": 0
                },
                "IN": {
                  "D": 2.52,
                  "R": 97.465,
                  "L": 0.015
                },
                "KS": {
                  "D": 2.685,
                  "R": 97.28999999999999,
                  "L": 0.025
                },
                "KY": {
                  "D": 0.38999999999999996,
                  "R": 99.605,
                  "L": 0.005
                },
                "LA": {
                  "D": 0.54,
                  "R": 99.46000000000001,
                  "L": 0
                },
                "MA": {
                  "D": 99.91,
                  "R": 0.08499999999999999,
                  "L": 0.005
                },
                "MD": {
                  "D": 99.96000000000001,
                  "R": 0.034999999999999996,
                  "L": 0.005
                },
                "ME": {
                  "D": 82.63000000000001,
                  "R": 17.345,
                  "L": 0.025
                },
                "ME1": {
                  "D": 91.535,
                  "R": 8.450000000000001,
                  "L": 0.015
                },
                "ME2": {
                  "D": 50.934999999999995,
                  "R": 49.03,
                  "L": 0.034999999999999996
                },
                "MI": {
                  "D": 78.89500000000001,
                  "R": 21.095,
                  "L": 0.01
                },
                "MN": {
                  "D": 85.04,
                  "R": 14.95,
                  "L": 0.01
                },
                "MO": {
                  "D": 3.875,
                  "R": 96.12,
                  "L": 0.005
                },
                "MS": {
                  "D": 2.185,
                  "R": 97.81,
                  "L": 0.005
                },
                "MT": {
                  "D": 4.1000000000000005,
                  "R": 95.86,
                  "L": 0.04
                },
                "NC": {
                  "D": 55.515,
                  "R": 44.48,
                  "L": 0.005
                },
                "ND": {
                  "D": 2.3,
                  "R": 97.69,
                  "L": 0.01
                },
                "NE": {
                  "D": 2.315,
                  "R": 97.675,
                  "L": 0.01
                },
                "NE1": {
                  "D": 10.655000000000001,
                  "R": 89.32,
                  "L": 0.025
                },
                "NE2": {
                  "D": 44.190000000000005,
                  "R": 55.794999999999995,
                  "L": 0.015
                },
                "NE3": {
                  "D": 0.8099999999999999,
                  "R": 99.17,
                  "L": 0.02
                },
                "NH": {
                  "D": 69.75,
                  "R": 30.240000000000002,
                  "L": 0.01
                },
                "NJ": {
                  "D": 96.885,
                  "R": 3.11,
                  "L": 0.005
                },
                "NM": {
                  "D": 82.57,
                  "R": 17.2,
                  "L": 0.22999999999999998
                },
                "NV": {
                  "D": 58.265,
                  "R": 41.725,
                  "L": 0.01
                },
                "NY": {
                  "D": 99.78,
                  "R": 0.22,
                  "L": 0
                },
                "OH": {
                  "D": 35.394999999999996,
                  "R": 64.595,
                  "L": 0.01
                },
                "OK": {
                  "D": 0.045,
                  "R": 99.95,
                  "L": 0.005
                },
                "OR": {
                  "D": 93.695,
                  "R": 6.295000000000001,
                  "L": 0.01
                },
                "PA": {
                  "D": 77.045,
                  "R": 22.95,
                  "L": 0.005
                },
                "RI": {
                  "D": 93.205,
                  "R": 6.79,
                  "L": 0.005
                },
                "SC": {
                  "D": 10.25,
                  "R": 89.74499999999999,
                  "L": 0.005
                },
                "SD": {
                  "D": 6.105,
                  "R": 93.865,
                  "L": 0.03
                },
                "TN": {
                  "D": 2.6550000000000002,
                  "R": 97.34,
                  "L": 0.005
                },
                "TX": {
                  "D": 6.045,
                  "R": 93.955,
                  "L": 0
                },
                "US": {
                  "D": 71.365,
                  "R": 28.599999999999998,
                  "L": 0.005,
                  "I": 0.03,
                  "O": 0,
                  "deadlock": 0.97
                },
                "UT": {
                  "D": 3.305,
                  "R": 83.175,
                  "L": 0.025,
                  "I": 13.495
                },
                "VA": {
                  "D": 85.5,
                  "R": 14.495,
                  "L": 0.005
                },
                "VT": {
                  "D": 98.065,
                  "R": 1.9349999999999998,
                  "L": 0
                },
                "WA": {
                  "D": 98.355,
                  "R": 1.6400000000000001,
                  "L": 0.005
                },
                "WI": {
                  "D": 83.535,
                  "R": 16.46,
                  "L": 0.005
                },
                "WV": {
                  "D": 0.27,
                  "R": 99.725,
                  "L": 0.005
                },
                "WY": {
                  "D": 1.06,
                  "R": 98.925,
                  "L": 0.015
                }
              },
              "evs": {
                "D": {
                  "avg": 302.1781,
                  "hi": 375,
                  "lo": 220
                },
                "R": {
                  "avg": 234.9663,
                  "hi": 317,
                  "lo": 162
                },
                "L": {
                  "avg": 0.0459,
                  "hi": 0,
                  "lo": 0
                },
                "I": {
                  "avg": 0.8097,
                  "hi": 6,
                  "lo": 0
                },
                "O": {
                  "avg": 0,
                  "hi": 0,
                  "lo": 0
                }
              },
              "called": []
            }
          ],
          "senate": [
            {
              "time": "2016-11-08 16:00:00 -0500",
              "event": "initial forecast",
              "index": 0,
              "states": {
                "AK": {
                  "D": 1.43,
                  "R": 98.57000000000001
                },
                "AL": {
                  "R": 99.87,
                  "D": 0.13
                },
                "AR": {
                  "D": 1.2550000000000001,
                  "R": 98.745
                },
                "AZ": {
                  "D": 1.9949999999999999,
                  "R": 98.005
                },
                "CA": {
                  "D": 97.30499999999999,
                  "D2": 2.6950000000000003
                },
                "CO": {
                  "D": 94.745,
                  "R": 5.255
                },
                "CT": {
                  "D": 99.705,
                  "R": 0.295
                },
                "FL": {
                  "D": 10.27,
                  "R": 89.73
                },
                "GA": {
                  "D": 2.87,
                  "R": 97.13000000000001
                },
                "HI": {
                [...]
